# TODO: Revamp this file after switching over to a reproducible
# pipeline

# This is a symlink to all the submitted files from
# http://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE73214
/data_files

# This is where the output files go (it's currently a symlink to a
# Dropbox folder)
/results

# Output files
*.svg
*.rda
*.rds
*.saf
*.pdf
*.png

# Temp files
.Rsubread_UserProvidedAnnotation_pid*
temp-core-*

# Directories where output files go
/saved_data
/sra_files
/.snakemake/
/bam_files
/fastq_files/
/aligned/
/salmon_quant
/shoal_quant
/kallisto_quant
/peak_calls
/idr_analysis
/reports/
*_cache/
/cache/
